<!DOCTYPE html>
<html>
<head>
 <title>OCR</title>
</head>
<body>
    {% if msg %}
    <h1 style="color: green"> {{ msg }} </h1>
    {% endif %}
    <h1> Upload your file </h1>
    <form method=post enctype=multipart/form-data> 
        <input type="file" name=file>
        <input type="submit" name=Upload value="Upload">
    </form>
    {% if extracted %}
    <h1>  </h1>
    {% endif %}
    {% if img_src %}
    <img src="{{ img_src }}" alt='Image uploaded' height=200 width=100>
    {% endif %}

    {% if extracted %}
    <p> {{ extracted }} </p>
    {% endif %}
</body>
</html>